body {
    background-image: url('background1.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
}
div.headerBand {
    background-image:url('background14.jpg'); 
    width: 100%; 
    max-height: 100px;
    text-align: right;
}

#BasicButton {
    border: 5px solid white;
    text-align: center;
    background-color: transparent;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: underline;
    font: 15px Comic;
    margin-right: 10px;
    color: white;
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-image: url('background14.jpg');
    color: white;
}
tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {background-color: #dee8e7;}
tr:nth-child(odd) {background-color: #7090ad;}