body {
    background: url('background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#banner {
    background-image:url('background11.jpg'); 
    width:100%;
    min-height:650px;
    text-align: center;
    z-index: 1;
}
div.heading1 {
	color: white;
    font-family: cursive;
    font-size: 70px;
    padding-top: 10%;
}

.headerBand {
    background-image:url('background14.jpg'); 
    width: 100%; 
    max-height: 100px;
    text-align: right;
}

.author {
    width: 30%;
    background-color: #01c9ca;
    min-height: 1000%;
    float: right;
    position: relative;
    margin-top: 50px;

}

.post {
    background-color: #F0F8FF;
    width: 40%;
    margin-left: 15px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.bottomBand {
    background-image: url('background14.jpg');
    width: 95%;
    max-height: 30%;
    padding-left: 10px;
    margin: 15px;
    padding-right: 10px;

}
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {
    background-color: #010742;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 10px;
    text-align: left;

}

#BasicButton {
    border: 5px solid white;
    text-align: center;
    background-color: transparent;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: underline;
    font: 15px Comic;
    margin-right: 10px;

}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 25%;
    top: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-image: url('background1.jpg');
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

h2 {
    color: white;

}

