body {
    background: url('background1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
div.headerBand {
    background-image:url('background4.png'); 
    width: 100%; 
    max-height: 100px;
    text-align: right;
}

.post {
    background-color: #F0F8FF;
    width: 40%;
    margin-left: 15px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.Notification {
	float: right;
	background-color: #92a8d1;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-family: Arial;

}

#BasicButton {
    border: 5px solid white;
    text-align: center;
    background-color: transparent;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: underline;
    font: 15px Comic;
    margin-right: 10px;
    color: white;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 100px; /* Location of the box */
    left: 25%;
    top: 0;
    width: 50%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
input[type=submit] [type=button] {
    border: 2px solid white;
    text-align: center;
    background-color: transparent;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: underline;
    font: 15px Comic;
    
}

button.BasicButton {
    border: 5px solid white;
    text-align: center;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: underline;
    font: 15px Comic;
    margin-right: 35px;
    margin: 10px;

}